{
  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
    "import-graphql",
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "client": "./client",
          "server": "./server",
          "generated": "./generated-gql"
        }
      }
    ],
  ]
}