{
  "presets": ["next/babel", "@zeit/next-typescript/babel"],
  "plugins": [
    "import-graphql",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "client": "./client",
          "generated": "./generated-gql"
        }
      }
    ]
  ]
}
